* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
}

.progress-container {
    display: flex;
    justify-content: space-between;
    width: 350px;
    max-width: 100%;
    position: relative;
    margin-bottom: 20px;
}

.progress {
    background-color: #3498db;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 3px;
    width: 0;
    z-index: -1;
    transition: width 0.4s ease;
}

.progress-container::before {
    content: '';
    background-color: #e0e0e0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 4px;
    width: 100%;
    z-index: -1;
}

.circle {
    background-color: white;
    border: 3px solid #e0e0e0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.circle.active {
    border: 3px solid #3498db;
}

.btn {
    background-color: #3498db;
    color: white;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    padding: 8px 30px;
    margin: 5px;
    font-size: 18px;
}

.btn:active {
    transform: scaleX(0.98);
}

.btn:disabled {
    background-color: #e0e0e0;
    cursor: not-allowed;
}